<body>
    <div class="card-body text-primary" style="margin-top:0">
    </div>
        <div class="jumbotron">
        <label style="font-size: 50px;">
            <b>Medicare Medicines</b>
        </label>
        <div class="row">
        <div class="col">
                    <img src="https://static.oxinis.com/healthmug/image/product/108652-4-1000.webp" style="height: 30%; width: 30%; color: peachpuff;"/>
                    <label style="font-size: 25px;">
                        <b>
                         Fever Medicine
                        <p>Paracetamol Tablets IP, Dolo-650</p>
                        </b>
                    </label>
                     <div class="card-footer bg-transperent border-info">
            @copyright 2023 prepared By: thilo
            </div>
        </div>
        </div>
        </div>
                        

           
</body>
