<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="searchbar">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" id="button1" type="submit">Search</button>
            </form>
            </div>
            <div class="images">
                <a routerLink="/pay"><img class="image1" src="https://static.oxinis.com/healthmug/image/product/108652-4-1000.webp"></a>
                <a routerLink="/pay"><img class="image2" src="https://images.hindustantimes.com/rf/image_size_640x362/HT/p2/2016/03/16/Pictures/_fbd5b14e-eb6f-11e5-805c-cca8aa42d510.jpg"></a>
                <a routerLink="/pay"><img class="image3" src="https://c8.alamy.com/comp/FY1536/winneconne-wi-1-oct-2015-box-of-excedrin-pm-headache-medicine-FY1536.jpg"></a>
                <a routerLink="/pay"><img class="image3" src="https://5.imimg.com/data5/SELLER/Default/2022/6/JE/AB/PF/2068994/camylofin-dihydrochloride-paracetamol-tablet-500x500.jpg"></a>
                </div>
</body>
</html>
